*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body{
  width: 100vw;
  height: 100vh;

}

body{
  font-family: 'Manrope', sans-serif;
  background: black;
  color: aliceblue;
  
  text-align: center;

  overflow: overlay;
}
 

header{
  /* width: 100vw; */
  height: 5.85rem;
  border-bottom: 1px solid #29292E;
  padding-left: 2.6rem;
  padding-right: 2.5rem;
  margin-top: 3.7rem; 
  padding-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between; 
}

header .btn-open{
  position: absolute;
  margin-left: 40rem;
   
}

 
img{
  max-width: 100%;
}

.logo{
  position: absolute;
   
}
 
.container{
   width: min(50rem, 100%);
  
  
  margin-inline: auto;
  /* padding-inline: 2.7rem; */
}
 
.content h1{
  font-weight: 600;
  font-size: 3.0rem;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  margin-top: 8.85rem;
}

.content button{
  display: flex;
  align-items: center;
  padding: 1.0rem 2.5rem;
  gap: 1.0rem;

  border: 1px solid #8257E5;
  border-radius: 6px;

  background: black;
  color: white;
 
   
  margin-inline: auto;
  margin-top: 8.8rem;

  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
 
  text-align: center;
  letter-spacing: 0.02em;
  
  cursor: pointer;
  transition: .2s;
}

.content button:hover{
  background: #8257E5;
  filter: brightness(1.1);
}
 
.assets{
   background: rgb(0,0,0);
  background:
  linear-gradient(180deg, rgba(0,0,0,1) 0%, 
  rgba(59,42,93,1) 100%, 
  rgba(0,212,255,1) 100%); 
 }

.assets img{
  margin-top: 9.8rem;
}  
nav .menu,
nav .close-menu{
  position: fixed;
}

/*======= MENU EXPANDED ======== */
body.menu-expanded .menu {
  transform: translateY(100%);
} 

body.menu-expanded {
  overflow: hidden;
  
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}   

.menu,
.btn-close,
body.menu-expanded .btn-open {
  opacity: 0;
  visibility: hidden;
   
}

body.menu-expanded .menu,
body.menu-expanded .btn-close {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  /* background: var(--brand-green); */

  width: 100vw;
  height: 100vh;

  padding-top: 3.7rem; 

  /* deslocar menu suavemente */
  transition: transform 500ms;
  transform: translateY(0);
}

 body.menu-expanded .menu ul{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  
  
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  
  

  margin-top: 6rem;
  text-align: left;
  list-style: none;
} 

body.menu-expanded .menu li{
  border-bottom: 1px solid #29292E;
 
  padding: 1.1rem 0 1.4rem 3.1rem; 
}

body.menu-expanded .menu ul li a{
  color: #A8A8B3;
  text-decoration: none;
}
 
body.menu-expanded .btn-close{
  position: relative;
  z-index: 100;
}
 
 
 